USE [master]
GO
/****** Object:  Database [WorkingImages]    Script Date: 8/5/2022 10:42:00 AM ******/
CREATE DATABASE [WorkingImages]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkingImages', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WorkingImages.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WorkingImages_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WorkingImages_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkingImages].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkingImages]
GO
/****** Object:  Table [dbo].[Fruits]    Script Date: 8/5/2022 10:42:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fruits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Fruits] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fruits] ON 

SET IDENTITY_INSERT [dbo].[Fruits] OFF
USE [master]
GO
